## Agregating DataFrame 
 
 en este notebook,se calculara estadisticas de resumen del dataframe y dominaras las estadisticas agrupadas y tablas (pibot table)

## estadistica  de resumen 

**Media y Mediana**


las estaqdisticas resumudas son exactamente lo que parecen resumen muchos numeros en un solo sola estadistica por ejemplo la media la mediana el minimo y la desviacion tipica(Deviacion estandar ) son estadistica de resumen  calcular estadistica de resumen te permite hacerte  una mejor idea de tus datos aunque sean muchos .

**instrucuines**

 - estplorar el nuevo dataframe imprimiendo las primeras filas del data frame walmart_sales

 - imprimir informacion sobre las columnas 

 - imprimir la media de la columna weekly_sales

 - imprimir la media de la columna weekly_sales

In [145]:
#import la libreria de pandas
import pandas as pd

In [146]:
sales = pd.read_csv('./data st/walmart_sales.csv')
sales.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

In [119]:
sales.describe()

,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
count,6435.000000,6.435000e+03,6435.000000,6435.000000,6435.000000,6435.000000,6435.000000
mean,23.000000,1.046965e+06,0.069930,60.663782,3.358607,171.578394,7.999151
std,12.988182,5.643666e+05,0.255049,18.444933,0.459020,39.356712,1.875885
min,1.000000,2.099862e+05,0.000000,-2.060000,2.472000,126.064000,3.879000
25%,12.000000,5.533501e+05,0.000000,47.460000,2.933000,131.735000,6.891000
50%,23.000000,9.607460e+05,0.000000,62.670000,3.445000,182.616521,7.874000
75%,34.000000,1.420159e+06,0.000000,74.940000,3.735000,212.743293,8.622000
max,45.000000,3.818686e+06,1.000000,100.140000,4.468000,227.232807,14.313000

In [120]:
sales.shape

(6435, 8)

In [121]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Date          6435 non-null   object
 2   Weekly_Sales  6435 non-null   float64
 3   Holiday_Flag  6435 non-null   int64
 4   Temperature   6435 non-null   float64
 5   Fuel_Price    6435 non-null   float64
 6   CPI           6435 non-null   float64
 7   Unemployment  6435 non-null   float64
dtypes: float64(5), int64(2), object(1)
memory usage: 402.3+ KB

In [122]:
sales.describe

<bound method NDFrame.describe of       Store        Date  Weekly_Sales  Holiday_Flag  Temperature  Fuel_Price  \
0         1  05-02-2010    1643690.90             0        42.31       2.572
1         1  12-02-2010    1641957.44             1        38.51       2.548
2         1  19-02-2010    1611968.17             0        39.93       2.514
3         1  26-02-2010    1409727.59             0        46.63       2.561
4         1  05-03-2010    1554806.68             0        46.50       2.625
...     ...         ...           ...           ...          ...         ...
6430     45  28-09-2012     713173.95             0        64.88       3.997
6431     45  05-10-2012     733455.07             0        64.89       3.985
6432     45  12-10-2012     734464.36             0        54.47       4.000
6433     45  19-10-2012     718125.53             0        56.47       3.969
6434     45  26-10-2012     760281.43             0        58.85       3.882

             CPI  Unemployment
0     211.096358         8.106
1     211.242170         8.106
2     211.289143         8.106
3     211.319643         8.106
4     211.350143         8.106
...          ...           ...
6430  192.013558         8.684
6431  192.170412         8.667
6432  192.327265         8.667
6433  192.330854         8.667
6434  192.308899         8.667

[6435 rows x 8 columns]>

In [123]:
# media de la colmna weekly_sales
round(sales['Weekly_Sales'].mean(), 2)

np.float64(1046964.88)

In [124]:
# medianade la columna Weekly_Sales

sales['Weekly_Sales'].median()

np.float64(960746.04)

# Resumir fechas

Las estadisticas sumarias tambien puden calcularse sobre las columnas de fecha que tengan valores con el tipo de datos datetime64. Algunas estadisticas de resumen como la media no tiene mucho sentido en las fechas, pero otras son extermadamente utiles como por ejemplo: el minimo y el maximo que te permiten ver intervalo de tiempo de tiempo abarcan tus datos

**intruciones**

- imprimir el maximo de la columna 
- imprimir el minimo de la columna date

In [125]:
sales["Date2"] = sales["Date"].astype("datetime64[ns]")

In [126]:
sales['Date'].max()

'31-12-2010'

In [127]:
sales['Date'].min()

'01-04-2011'

In [128]:
sales['Date2'].min()

Timestamp('2010-01-10 00:00:00')

In [129]:
sales['Date2'].max()

Timestamp('2012-12-10 00:00:00')

##  FUNCION AGG
Aunque  pandas tenga muchas funciones a veces puedes necesitar una funcion diferencial para resumir los datos .

El metodo .agg() permite  aplicar tus propias funciones a un Dataframe asi como aplicar funciones a mas de una columna a mas data ala vez haciendo que tus agregacones sean eficientes 

`df['column']. agg(funcion)`

En la funcion personalizada para ejecicio "IQR" es la abreviatura del rango intercuartilico, que es el percentil 75 menos el percentil 25. Es una alternativa a la desviacion tipica(estandar )que resulta util si tus datos contienen valores atipicos.

**Instrucciones**

1. Utiliza  la  funcion personal iqr definida pr ti junto con el metodo .agg() para imprimir la IQR de la columna temperature_c de sales

2. Actualiza la selecion dee columanas para utilizar la funcion personalizada iqr con agg() para imprimir los iqr de las columnas  temperature, fuel_price,unemployment, en orden.

3. Actualiza las llamada a la funcion del metodo para octener el rango iqr y la media en ese orden

In [130]:
import numpy as np

def  iqr (column):
    return column.quantile(0.75) - column.quantile(0.25)

In [131]:
#imprimir iqr de la columna  temperature
print(f'El iqr de Temperature {sales['Temperature'].agg(iqr)}')

#Actualizar la imprecion del iqr de temperature fuel_price, unemployment
print(sales[['Temperature','Fuel_Price','Unemployment']].agg(iqr))

El iqr de Temperature 27.479999999999997
Temperature     27.480
Fuel_Price       0.802
Unemployment     1.731
dtype: float64

In [132]:
print(sales[['Temperature','Fuel_Price','Unemployment']].agg([iqr,np.median ]))

        Temperature  Fuel_Price  Unemployment
iqr           27.48       0.802         1.731
median        62.67       3.445         7.874

C:\Users\lizet\AppData\Local\Temp\ipykernel_4032\183761147.py:1: FutureWarning: The provided callable <function median at 0x000001F7FFC9F1A0> is currently using Series.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  print(sales[['Temperature','Fuel_Price','Unemployment']].agg([iqr,np.median ]))
C:\Users\lizet\AppData\Local\Temp\ipykernel_4032\183761147.py:1: FutureWarning: The provided callable <function median at 0x000001F7FFC9F1A0> is currently using Series.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  print(sales[['Temperature','Fuel_Price','Unemployment']].agg([iqr,np.median ]))
C:\Users\lizet\AppData\Local\Temp\ipykernel_4032\183761147.py:1: FutureWarning: The provided callable <function median at 0x000001F7FFC9F1A0> is currently using Series.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  print(sales[['Temperature','Fuel_Price','Unemployment']].agg([iqr,np.median ]))

In [133]:
print(sales[['Temperature','Fuel_Price','Unemployment']].agg([iqr,'median']))

        Temperature  Fuel_Price  Unemployment
iqr           27.48       0.802         1.731
median        62.67       3.445         7.874

In [134]:
print(sales[['Temperature','Fuel_Price','Unemployment']].agg([iqr,'median','mean','max','min']))

        Temperature  Fuel_Price  Unemployment
iqr       27.480000    0.802000      1.731000
median    62.670000    3.445000      7.874000
mean      60.663782    3.358607      7.999151
max      100.140000    4.468000     14.313000
min       -2.060000    2.472000      3.879000

In [135]:
def convertirACentigrados (farenheit):
    return farenheit - 32 /1.8

In [136]:
temp_min = sales ['Temperature'].min()
temp_max = sales ['Temperature'].max()

In [137]:
print(f'La tempertura {temp_min} en Centigrados es {convertirACentigrados(temp_min)}')
print(f'La tempertura {temp_max} en Centigrados es {convertirACentigrados(temp_max)}')

La tempertura -2.06 en Centigrados es -19.837777777777777
La tempertura 100.14 en Centigrados es 82.36222222222221

In [138]:
print(sales[['Temperature']].agg(convertirACentigrados))

      Temperature
0       24.532222
1       20.732222
2       22.152222
3       28.852222
4       28.722222
...           ...
6430    47.102222
6431    47.112222
6432    36.692222
6433    38.692222
6434    41.072222

[6435 rows x 1 columns]

In [139]:
sales ['Temperatura_Celcious']= sales[['Temperature']].agg(convertirACentigrados)

In [140]:

sales_sort = sales.sort_values(['Temperature','Temperatura_Celcious'], ascending=[True, False])

In [141]:
sales_sort[['Temperature','Temperatura_Celcious']]

      Temperature  Temperatura_Celcious
910         -2.06            -19.837778
3626         5.54            -12.237778
2336         6.23            -11.547778
959          7.46            -10.317778
5628         9.51             -8.267778
...           ...                   ...
3885        99.22             81.442222
5315        99.22             81.442222
4657        99.66             81.882222
4707       100.07             82.292222
4599       100.14             82.362222

[6435 rows x 2 columns]

In [142]:
import numpy as np

In [147]:
# funcion personalisada que calcula el IQR

def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)


#imprimir el IQR de la columna Temperature

print(sales['Temperature'].quantile(0.75))
print(sales['Temperature'].quantile(0.25))
print(sales['Temperature'].agg(iqr))

print(sales['Temperature'].agg(['mean','median','max','min']))

74.94
47.46
27.479999999999997
mean       60.663782
median     62.670000
max       100.140000
min        -2.060000
Name: Temperature, dtype: float64

## Estadisticas acumuladas


Las estadísticas acumulativas también pueden ser útiles para hacer un seguimiento de las estadísticas resumidas a lo largo del tiempo. En este ejercicio, calcularás la suma acumulada y el máximo acumulado de las ventas semanales de un departamento, lo que te permitirá identificar cuáles han sido las ventas totales hasta el momento, así como cuáles han sido las ventas semanales más elevadas hasta el momento.

**Instrucciones**

- Ordena las filas de sales_1_1 por la columna date en orden ascendente.
- Obtén la suma acumulada de weekly_sales y añádelo como una nueva columna de sales_1_1 llamada cum_weekly_sales.
- Obtén el máximo acumulado de weekly_sales, y añádelo como una columna llamada cum_max_sales.
- Imprime las columnas date, weekly_sales, cum_weekly_sales, y cum_max_sales.

In [ ]:
sales_1_1 = sales [sales['Store'] == 1]

#ordenar sales_1_1 por  fecha 
sales_1_1 = sales_1_1.sort_values('Date',dy)

# optener la suma acomulativa del campo Weekly_Sales y agregar una columna  llamada cum_Weekly_Sales

sales_1_1['cum_weekly_sales'] = sales_1_1['Weekly_Sales'].cumsum()

In [153]:
sales_1_1[['weekly_sales','cum_weekly_sales']]

KeyError: "['weekly_sales'] not in index"

In [154]:
sales_1_1.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,cum_weekly_sales
60,1,01-04-2011,1495064.75,0,59.17,3.524,214.837166,7.682,1495064.75
121,1,01-06-2012,1624477.58,0,77.95,3.501,221.747214,7.143,3119542.33
73,1,01-07-2011,1488538.09,0,85.55,3.524,215.184137,7.962,4608080.42
34,1,01-10-2010,1453329.50,0,71.89,2.603,211.671989,7.838,6061409.92
108,1,02-03-2012,1688420.76,0,60.96,3.630,220.848045,7.348,7749830.68

In [156]:
#obtener el maximo acomulativo de weekly_sales y agregar la columna 
#cum_max_sales
sales_1_1['cum_max_sales'] = sales_1_1['cum_weekly_sales'].cummax()

sales_1_1.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,cum_weekly_sales,cum_max_sales
60,1,01-04-2011,1495064.75,0,59.17,3.524,214.837166,7.682,1495064.75,1495064.75
121,1,01-06-2012,1624477.58,0,77.95,3.501,221.747214,7.143,3119542.33,3119542.33
73,1,01-07-2011,1488538.09,0,85.55,3.524,215.184137,7.962,4608080.42,4608080.42
34,1,01-10-2010,1453329.50,0,71.89,2.603,211.671989,7.838,6061409.92,6061409.92
108,1,02-03-2012,1688420.76,0,60.96,3.630,220.848045,7.348,7749830.68,7749830.68

In [157]:
#mostrar la columna calculadad 
sales_1_1[['Date','Weekly_Sales','cum_weekly_sales','cum_max_sales']]

           Date  Weekly_Sales  cum_weekly_sales  cum_max_sales
60   01-04-2011    1495064.75      1.495065e+06   1.495065e+06
121  01-06-2012    1624477.58      3.119542e+06   3.119542e+06
73   01-07-2011    1488538.09      4.608080e+06   4.608080e+06
34   01-10-2010    1453329.50      6.061410e+06   6.061410e+06
108  02-03-2012    1688420.76      7.749831e+06   7.749831e+06
..          ...           ...               ...            ...
25   30-07-2010    1371986.60      2.165614e+08   2.165614e+08
86   30-09-2011    1394561.83      2.179559e+08   2.179559e+08
99   30-12-2011    1497462.72      2.194534e+08   2.194534e+08
134  31-08-2012    1582083.40      2.210355e+08   2.210355e+08
47   31-12-2010    1367320.01      2.224028e+08   2.224028e+08

[143 rows x 4 columns]

## Recuento

### Eliminar duplicado
Eliminar duplicados es una habilidad esencial para obtener recuentos precisos, porque a menudo no quieres contar lo mismo varias veces. En este ejercicio, crearás algunos DataFrames nuevos utilizando valores únicos de sales.

**Instrucciones**

- Elimina las filas de sales con pares duplicados de store y type y guárdalas como store_types e imprime la cabecera.
- Elimina las filas de sales con pares duplicados de store y department y guárdalas como store_depts e imprime la cabecera.
- Subconjunta las filas que sean semanas de vacaciones utilizando la columna is_holiday, y elimina las dates duplicadas, guardándolas como holiday_dates.
- Selecciona la columna date de holiday_dates, e imprímela.

In [173]:
import pandas as pd
sales_sub =pd.read_csv('./data st/sales_subset.csv', index_col=0)

In [174]:
sales_sub.head()

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106
2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808
3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808
4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808

In [197]:
# Drop duplicate store/department combinations
store_depts = sales.drop_duplicates(subset=["store", "department"])

In [183]:
#elemininar o hacer un (drop) la combinacion  de duplicado de store/type

store_types = sales_sub.drop_duplicates(subset=['store', 'type'])
store_types.head()

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
901,2,A,1,2010-02-05,35034.06,False,4.550000,0.679451,8.324
1798,4,A,1,2010-02-05,38724.42,False,6.533333,0.686319,8.623
2699,6,A,1,2010-02-05,25619.00,False,4.683333,0.679451,7.259
3593,10,B,1,2010-02-05,40212.84,False,12.411111,0.782478,9.765

In [188]:
#sementar todas las filas donde el campo is_holiday sea True y eliminar los duplicados del campo date 
holiday_dates =sales_sub[sales_sub['is_holiday'] == True].drop_duplicates(subset=['date'])
holiday_dates[['date']]

            date
498   2010-09-10
691   2011-11-25
2315  2010-02-12
6735  2012-09-07
6810  2010-12-31
6815  2012-02-10
6820  2011-09-09

### Contar variables categóricas

Contar es una forma estupenda de tener una visión general de tus datos y de detectar curiosidades que de otro modo no notarías. En este ejercicio, contarás el número de cada tipo de tienda y el número de cada número de departamento utilizando los DataFrames que creaste en el ejercicio anterior:
```
# Drop duplicate store/type combinations
store_types = sales.drop_duplicates(subset=["store", "type"])

# Drop duplicate store/department combinations
store_depts = sales.drop_duplicates(subset=["store", "department"])

```
Los DataFrames store_types y store_depts que creaste en el último ejercicio están disponibles, y pandas se importa como pd.

**Instrucciones**

- Cuenta el número de tiendas de cada tienda type en store_types.
- Cuenta la proporción de tiendas de cada tienda type en store_types.
- Cuenta el número de tiendas de cada department en store_depts, ordenando los recuentos en orden descendente.
- Cuenta la proporción de tiendas de cada department en store_depts, ordenando las proporciones en orden descendente.

In [190]:
store_types.head()

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
901,2,A,1,2010-02-05,35034.06,False,4.550000,0.679451,8.324
1798,4,A,1,2010-02-05,38724.42,False,6.533333,0.686319,8.623
2699,6,A,1,2010-02-05,25619.00,False,4.683333,0.679451,7.259
3593,10,B,1,2010-02-05,40212.84,False,12.411111,0.782478,9.765

In [189]:
#Contar el numero de  tiendas de cada tipo 
store_count = store_types ['type'].value_counts()
store_count

type
A    11
B     1
Name: count, dtype: int64

In [193]:
# Obtenr la proporcion de tiendas de cada tipo
store_props = store_types['type'].value_counts(normalize=True) *100
store_props

type
A    91.666667
B     8.333333
Name: proportion, dtype: float64

In [194]:
# Obtenr la proporcion de tiendas de cada tipo
store_props = store_types['type'].value_counts(normalize=True)
store_props

type
A    0.916667
B    0.083333
Name: proportion, dtype: float64

In [200]:
# Coontar el numero de tiendas por cada departamento y ordenado 

dept_counts_sorted = store_depts['department'].value_counts(sort=True)
dept_counts_sorted

department
1     12
2     12
3     12
4     12
5     12
      ..
37    10
48     8
50     6
39     4
43     2
Name: count, Length: 80, dtype: int64

In [199]:
#obtener la proporcion de tiendas por cada departamento y ordenado
dept_props_sorted = store_depts['department'].value_counts(normalize=True, sort=True)

## Estadisticas resumidas agrupadas 
### ¿Qué porcentaje de ventas se produjo en cada tipo de tienda?

Aunque .groupby() es útil, puedes calcular estadísticas de resumen agrupadas sin él.

Walmart distingue tres tipos de tiendas: "supercentros", "tiendas de descuento" y "mercados de barrio", codificados en este conjunto de datos como tipo "A", "B" y "C". En este ejercicio, calcularás las ventas totales realizadas en cada tipo de tienda, sin utilizar .groupby(). A continuación, puedes utilizar estas cifras para ver qué proporción de las ventas totales de Walmart se realizaron en cada tipo.

sales está disponible y pandas se importa como pd.

**Instrucciones**

- Calcula el total de weekly_sales en todo el conjunto de datos.
- Subconjunto para las tiendas type "A", y calcula sus ventas semanales totales.
- Haz lo mismo en las tiendas type "B" y type "C".
- Combina los resultados A/B/C en una lista, y divídela por sales_all para obtener la proporción de ventas por tipo.

In [203]:
# Coontar el numero de tiendas por cada departamento y ordenado 

dept_counts_sorted = store_depts['department'].value_counts(normalize=True , sort=True)*100
dept_counts_sorted

department
1     1.291712
2     1.291712
3     1.291712
4     1.291712
5     1.291712
        ...
37    1.076426
48    0.861141
50    0.645856
39    0.430571
43    0.215285
Name: proportion, Length: 80, dtype: float64

In [204]:
#Calcular el total de ventas por semana 

sales_all =sales_sub['weekly_sales'].sum()
sales_all

np.float64(256894718.89999998)

In [205]:
#segmentar para los tipos  A y calcular el total de ventas por semana 
sales_A = sales_sub[sales_sub['type'] == 'A'] ['weekly_sales'].sum()  
sales_A

np.float64(233716315.01)

In [206]:
sales_B = sales_sub[sales_sub['type'] == 'B'] ['weekly_sales'].sum()  
sales_B

np.float64(23178403.89)

In [207]:
sales_C= sales_sub[sales_sub['type'] == 'C'] ['weekly_sales'].sum()  
sales_C

np.float64(0.0)

In [209]:
#Optener la proporcion de cada tipo 
sales_props_by_type = [sales_A , sales_B , sales_C] / sales_all *100
sales_props_by_type

array([90.97746969,  9.02253031,  0.        ])