# Crear y visualizar DataFrames
Aprende a visualizar el contenido de tus DataFrames, a tratar los valores de datos que faltan y a importar y exportar datos a archivos CSV.


## Visualizar Tus Datos

### ¿Qué tamaño de aguacate es el más popular?

Los aguacates son cada vez más populares y están deliciosos en guacamole y en tostadas. Hass Avocado Board hace un seguimiento de la oferta y la demanda de aguacate en toda la USA, incluidas las ventas de tres tamaños diferentes de aguacate. En este ejercicio, utilizarás un diagrama de barras para averiguar qué tamaño es el más popular.

Los gráficos de barras son estupendos para revelar las relaciones entre variables categóricas (tamaño) y numéricas (número vendido), pero a menudo tendrás que manipular primero los datos para obtener los números que necesitas para el gráfico.

pandas se ha importado como pd, y avocados está disponible.

**instrucciones**

- Imprime la cabecera del conjunto de datos avocados. ¿Qué columnas están disponibles?
- Para cada grupo de tamaño de aguacate, calcula el número total vendido, almacenándolo como nb_sold_by_size.
- Crea un diagrama de barras del número de aguacates vendidos por tamaño.
Muestra el gráfico.

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
avocado = pd.read_csv('./data st/avocado.csv')

In [4]:
avocado.head()

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

In [6]:
avocado =avocados.drop(columns=['Unnamed: 0'])

NameError: name 'avocados' is not defined

In [ ]:
avocado = avocado.reset_index(drop=True)

In [ ]:
#obtener el tota fe mimerpdmdemaguacate 
nb_sold_by_year = avocado.groupby('year')

In [ ]:
bn_sold_by type