In [1]:
import pandas as pd

In [2]:
#comprobar si es funcinal
datos= {
    'Nombre': ['ana', 'luia', 'Pedro'],
    'Edad': [23, 30, 27],
}
df = pd.DataFrame(datos)
print(df)

  Nombre  Edad
0    ana    23
1   luia    30
2  Pedro    27

In [3]:
#crear  una lista 
edad =[30,40,50]

In [14]:
#convertir la serie 
serie = pd.Series(edad)

In [5]:
#mostrar resultado
serie

0    30
1    40
2    50
dtype: int64

In [12]:
#cambiar indice
serie = pd.Series(edad, index=['Alex', 'John', 'Maria'])

In [7]:
serie

Alex     30
John     40
Maria    50
dtype: int64

In [8]:
serie['Alex']

np.int64(30)

In [15]:
serie[1]

np.int64(40)

EJEMPLO

In [16]:
naranjas = pd.Series([1,4,9,2,6,10,200])
print(naranjas)

0      1
1      4
2      9
3      2
4      6
5     10
6    200
dtype: int64

In [17]:
type(naranjas)

pandas.core.series.Series

In [18]:
naranjas =pd.Series([1,4,9,2,6,10,200], index=['Marco','ANA','Juan','Pedro','Estela','Ivan','Luis'])
print(naranjas)

Marco       1
ANA         4
Juan        9
Pedro       2
Estela      6
Ivan       10
Luis      200
dtype: int64