# Transformada de DataFrames

## inspeccionar una dataframe

In [37]:
#import la libreria de pandas
import pandas as pd

In [36]:
homelessness =pd.read_csv('./data st/homelessness.csv ',index_col=0)

In [16]:
homelessness.head()

,region,state,individuals,family_members,state_pop,Total
0,East South Central,Alabama,2570.0,864.0,4887681,3434.0
1,Pacific,Alaska,1434.0,582.0,735139,2016.0
2,Mountain,Arizona,7259.0,2606.0,7158024,9865.0
3,West South Central,Arkansas,2280.0,432.0,3009733,2712.0
4,Pacific,California,109008.0,20964.0,39461588,129972.0

In [17]:
print(homelessness.info())

<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, 0 to 50
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   region          51 non-null     object
 1   state           51 non-null     object
 2   individuals     51 non-null     float64
 3   family_members  51 non-null     float64
 4   state_pop       51 non-null     int64
 5   Total           51 non-null     float64
dtypes: float64(3), int64(1), object(2)
memory usage: 2.8+ KB
None

In [18]:
#impirmir el tama;o de data 

print(homelessness.shape)

(51, 6)

In [19]:
# pint la descripcion de homelessness
print(homelessness.describe())

         individuals  family_members     state_pop          Total
count      51.000000       51.000000  5.100000e+01      51.000000
mean     7225.784314     3504.882353  6.405637e+06   10730.666667
std     15991.025083     7805.411811  7.327258e+06   21777.558637
min       434.000000       75.000000  5.776010e+05     542.000000
25%      1446.500000      592.000000  1.777414e+06    2318.500000
50%      3082.000000     1482.000000  4.461153e+06    4907.000000
75%      6781.500000     3196.000000  7.340946e+06    9448.500000
max    109008.000000    52070.000000  3.946159e+07  129972.000000

## Partes de un DataFrame

In [20]:
#imprimir los valores del dataframe 
print(homelessness.values)

[['East South Central' 'Alabama' 2570.0 864.0 4887681 3434.0]
 ['Pacific' 'Alaska' 1434.0 582.0 735139 2016.0]
 ['Mountain' 'Arizona' 7259.0 2606.0 7158024 9865.0]
 ['West South Central' 'Arkansas' 2280.0 432.0 3009733 2712.0]
 ['Pacific' 'California' 109008.0 20964.0 39461588 129972.0]
 ['Mountain' 'Colorado' 7607.0 3250.0 5691287 10857.0]
 ['New England' 'Connecticut' 2280.0 1696.0 3571520 3976.0]
 ['South Atlantic' 'Delaware' 708.0 374.0 965479 1082.0]
 ['South Atlantic' 'District of Columbia' 3770.0 3134.0 701547 6904.0]
 ['South Atlantic' 'Florida' 21443.0 9587.0 21244317 31030.0]
 ['South Atlantic' 'Georgia' 6943.0 2556.0 10511131 9499.0]
 ['Pacific' 'Hawaii' 4131.0 2399.0 1420593 6530.0]
 ['Mountain' 'Idaho' 1297.0 715.0 1750536 2012.0]
 ['East North Central' 'Illinois' 6752.0 3891.0 12723071 10643.0]
 ['East North Central' 'Indiana' 3776.0 1482.0 6695497 5258.0]
 ['West North Central' 'Iowa' 1711.0 1038.0 3148618 2749.0]
 ['West North Central' 'Kansas' 1443.0 773.0 2911359 2216.0]
 ['East South Central' 'Kentucky' 2735.0 953.0 4461153 3688.0]
 ['West South Central' 'Louisiana' 2540.0 519.0 4659690 3059.0]
 ['New England' 'Maine' 1450.0 1066.0 1339057 2516.0]
 ['South Atlantic' 'Maryland' 4914.0 2230.0 6035802 7144.0]
 ['New England' 'Massachusetts' 6811.0 13257.0 6882635 20068.0]
 ['East North Central' 'Michigan' 5209.0 3142.0 9984072 8351.0]
 ['West North Central' 'Minnesota' 3993.0 3250.0 5606249 7243.0]
 ['East South Central' 'Mississippi' 1024.0 328.0 2981020 1352.0]
 ['West North Central' 'Missouri' 3776.0 2107.0 6121623 5883.0]
 ['Mountain' 'Montana' 983.0 422.0 1060665 1405.0]
 ['West North Central' 'Nebraska' 1745.0 676.0 1925614 2421.0]
 ['Mountain' 'Nevada' 7058.0 486.0 3027341 7544.0]
 ['New England' 'New Hampshire' 835.0 615.0 1353465 1450.0]
 ['Mid-Atlantic' 'New Jersey' 6048.0 3350.0 8886025 9398.0]
 ['Mountain' 'New Mexico' 1949.0 602.0 2092741 2551.0]
 ['Mid-Atlantic' 'New York' 39827.0 52070.0 19530351 91897.0]
 ['South Atlantic' 'North Carolina' 6451.0 2817.0 10381615 9268.0]
 ['West North Central' 'North Dakota' 467.0 75.0 758080 542.0]
 ['East North Central' 'Ohio' 6929.0 3320.0 11676341 10249.0]
 ['West South Central' 'Oklahoma' 2823.0 1048.0 3940235 3871.0]
 ['Pacific' 'Oregon' 11139.0 3337.0 4181886 14476.0]
 ['Mid-Atlantic' 'Pennsylvania' 8163.0 5349.0 12800922 13512.0]
 ['New England' 'Rhode Island' 747.0 354.0 1058287 1101.0]
 ['South Atlantic' 'South Carolina' 3082.0 851.0 5084156 3933.0]
 ['West North Central' 'South Dakota' 836.0 323.0 878698 1159.0]
 ['East South Central' 'Tennessee' 6139.0 1744.0 6771631 7883.0]
 ['West South Central' 'Texas' 19199.0 6111.0 28628666 25310.0]
 ['Mountain' 'Utah' 1904.0 972.0 3153550 2876.0]
 ['New England' 'Vermont' 780.0 511.0 624358 1291.0]
 ['South Atlantic' 'Virginia' 3928.0 2047.0 8501286 5975.0]
 ['Pacific' 'Washington' 16424.0 5880.0 7523869 22304.0]
 ['South Atlantic' 'West Virginia' 1021.0 222.0 1804291 1243.0]
 ['East North Central' 'Wisconsin' 2740.0 2167.0 5807406 4907.0]
 ['Mountain' 'Wyoming' 434.0 205.0 577601 639.0]]

In [21]:
#imprimir las columnas 
print(homelessness.columns)

Index(['region', 'state', 'individuals', 'family_members', 'state_pop',
       'Total'],
      dtype='object')

In [22]:
#imprimir los indices de las filas 
print(homelessness.index)

Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
       36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50],
      dtype='int64')

## Ordenar Filas 

ordenar ee --- | Sintaxis    
|--------------|---------------------------|
|Una columna   | `df. sort_values("bread")`|
|Varias columnas   | `df. sort_values("bread", "weight_kg")`|

1. Ordenar homelessnes por el numero sin hogar de la columna individuales de menor a mayor y guardarlo como homelessnes_ind

2. Ordeas homelenessess por el numero de personas sin hogar family_members en orden y guardarlo como homelessness_fam

3. Ordena  homelenessess por region en forma decendente por numero de miembro de la familia de dforma decendente y hay que guardar en homelenessess_reg_fam
3. Ordena

In [23]:
homelessness_ind = homelessness.sort_values("individuals")
print(homelessness_ind.head(10))

                region          state  individuals  family_members  state_pop  \
50            Mountain        Wyoming        434.0           205.0     577601
34  West North Central   North Dakota        467.0            75.0     758080
7       South Atlantic       Delaware        708.0           374.0     965479
39         New England   Rhode Island        747.0           354.0    1058287
45         New England        Vermont        780.0           511.0     624358
29         New England  New Hampshire        835.0           615.0    1353465
41  West North Central   South Dakota        836.0           323.0     878698
26            Mountain        Montana        983.0           422.0    1060665
48      South Atlantic  West Virginia       1021.0           222.0    1804291
24  East South Central    Mississippi       1024.0           328.0    2981020

     Total
50   639.0
34   542.0
7   1082.0
39  1101.0
45  1291.0
29  1450.0
41  1159.0
26  1405.0
48  1243.0
24  1352.0

In [24]:
#ordenar homelessnes por family_members de menor a mayor y guardarlo como homelessness_fam
homelessness_fam = homelessness.sort_values('family_members', ascending=False)
print(homelessness_fam.head(10))

                region          state  individuals  family_members  state_pop  \
32        Mid-Atlantic       New York      39827.0         52070.0   19530351
4              Pacific     California     109008.0         20964.0   39461588
21         New England  Massachusetts       6811.0         13257.0    6882635
9       South Atlantic        Florida      21443.0          9587.0   21244317
43  West South Central          Texas      19199.0          6111.0   28628666
47             Pacific     Washington      16424.0          5880.0    7523869
38        Mid-Atlantic   Pennsylvania       8163.0          5349.0   12800922
13  East North Central       Illinois       6752.0          3891.0   12723071
30        Mid-Atlantic     New Jersey       6048.0          3350.0    8886025
37             Pacific         Oregon      11139.0          3337.0    4181886

       Total
32   91897.0
4   129972.0
21   20068.0
9    31030.0
43   25310.0
47   22304.0
38   13512.0
13   10643.0
30    9398.0
37   14476.0

In [14]:
homelessness_fam = homelessness.sort_values('family_members', ascending=True)
print(homelessness_fam.head(10))

                region          state  individuals  family_members  state_pop  \
34  West North Central   North Dakota        467.0            75.0     758080
50            Mountain        Wyoming        434.0           205.0     577601
48      South Atlantic  West Virginia       1021.0           222.0    1804291
41  West North Central   South Dakota        836.0           323.0     878698
24  East South Central    Mississippi       1024.0           328.0    2981020
39         New England   Rhode Island        747.0           354.0    1058287
7       South Atlantic       Delaware        708.0           374.0     965479
26            Mountain        Montana        983.0           422.0    1060665
3   West South Central       Arkansas       2280.0           432.0    3009733
28            Mountain         Nevada       7058.0           486.0    3027341

     Total
34   542.0
50   639.0
48  1243.0
41  1159.0
24  1352.0
39  1101.0
7   1082.0
26  1405.0
3   2712.0
28  7544.0

## sudconjuntoss de columnas 
hay muchas formamas de su conjuntar un data frend quisa la mas comun sea utilizar operadores relacionales para devolver true o false para cada fila y despues pasarlo entre corchetes 

dogs[dogs["height_cm"] > 60]
dogs[dogs["color"] == "tan"]
 tambien puedes fitar con varias condiciones el operador amperson  

 `dogs[ (dogs[height_cm"] > 60) & (dogs[color'] == 'tan')]`

 **Instrucciones**

 1. Filtra homelessness para los casos en los que el individuals sea superior a diez mil, asignadolasa ind_gt_10k. Visualizar el resultado

 2. Filtra hommelessness para los casos que se usa en los que la region es MoUNTAIN ,ASIGNANDO  a mountein_reg.visualiza el resultado 
 3. filtra homelessness para los casos en los que el numero  de family_members se inferior a mil y la region sea 'pasifico' asisgnadolo a fam_it_1k_pac.visualizar el resultado

In [13]:

# 1. Filtrar individuals > 10000
ind_gt_10k = homelessness[homelessness["individuals"] > 10000]
print("ind_gt_10k:")
print(ind_gt_10k.head(10))

ind_gt_10k:
                region       state  individuals  family_members  state_pop  \
4              Pacific  California     109008.0         20964.0   39461588
9       South Atlantic     Florida      21443.0          9587.0   21244317
32        Mid-Atlantic    New York      39827.0         52070.0   19530351
37             Pacific      Oregon      11139.0          3337.0    4181886
43  West South Central       Texas      19199.0          6111.0   28628666
47             Pacific  Washington      16424.0          5880.0    7523869

       Total
4   129972.0
9    31030.0
32   91897.0
37   14476.0
43   25310.0
47   22304.0

In [12]:
# 2. Filtrar region == 'MOUNTAIN'
mountain_reg = homelessness[homelessness["region"] == "MOUNTAIN"]
mountain_reg.sort_values("individuals", ascending=True)
print(mountain_reg.head(10))

Empty DataFrame
Columns: [region, state, individuals, family_members, state_pop, Total]
Index: []

In [11]:
# 3. Filtrar family_members < 1000 y region == 'PACIFIC'
fam_lt_1k_pac = homelessness[
    (homelessness["family_members"] < 1000) &
    (homelessness["region"] == "PACIFIC")
]
print("\nfam_lt_1k_pac:")

fam_lt_1k_pac:

# subconjunto de filas por variables categorias 

utilizando el metodo `.isin()`que permitira abordar el problema escribiendo en una sola condicion en lugar en varias .por que  para segementar variables categoricas se utiliza el operador 

`colors =['brown','black','tan']`  

`condicion = dogs['color'].isin(colors)`   

`dogs['condition']`  


**Instrucciones**
1. filtra homelessness para los caso en los que el censo para los estados california,Arizona,Navada y utha, asignadolo a mojave_homelessness

In [10]:
canu = ['California', 'Arizona', 'Nevada', 'Utah']
mojave_homelessness = homelessness[homelessness['state'].isin(canu)]

print(mojave_homelessness)

      region       state  individuals  family_members  state_pop     Total
2   Mountain     Arizona       7259.0          2606.0    7158024    9865.0
4    Pacific  California     109008.0         20964.0   39461588  129972.0
28  Mountain      Nevada       7058.0           486.0    3027341    7544.0
44  Mountain        Utah       1904.0           972.0    3153550    2876.0

## Añadir Nuevas Columnas 
no te quedes  solo con los datos que te dan . En su lugar se pueden añadir nuevas columnas a un dataFrame.A esto se le llama `Transformacion `, `munatacion `  e `ingeneria de caracteristicas` se pueden crear columnas nuevas desde cero. pero es habitual derivarlas de otras columnas por ejemplo sumando columnas o cambiando sus unidades 

**Instrucciones**

-Añade una nueva columna a homelessness ,denominado `Total`,que cotengan la suma de las columnas individuals y family_members  
-Añadir otra columna a homelessness,denominada p_homeless,que contenga la proporcion de la poblacion de personas sin hogar total con respecto a poblacion de cada estado stage_pop

In [38]:
# agregar una columna total como la suma de individuals y family members 

homelessness['total'] = homelessness['individuals'] + homelessness['family_members']

# agregar una columna llamada p_homeless como proporcion del total de homelessness 
# de la poblacion para el estado de la poblacion 

homelessness['p_homeless'] = homelessness['total'] / homelessness['state_pop']

# visualizar el resultado

print(homelessness.head(10))

               region                 state  individuals  family_members  \
0  East South Central               Alabama       2570.0           864.0
1             Pacific                Alaska       1434.0           582.0
2            Mountain               Arizona       7259.0          2606.0
3  West South Central              Arkansas       2280.0           432.0
4             Pacific            California     109008.0         20964.0
5            Mountain              Colorado       7607.0          3250.0
6         New England           Connecticut       2280.0          1696.0
7      South Atlantic              Delaware        708.0           374.0
8      South Atlantic  District of Columbia       3770.0          3134.0
9      South Atlantic               Florida      21443.0          9587.0

   state_pop     total  p_homeless
0    4887681    3434.0    0.000703
1     735139    2016.0    0.002742
2    7158024    9865.0    0.001378
3    3009733    2712.0    0.000901
4   39461588  129972.0    0.003294
5    5691287   10857.0    0.001908
6    3571520    3976.0    0.001113
7     965479    1082.0    0.001121
8     701547    6904.0    0.009841
9   21244317   31030.0    0.001461

In [39]:
columnas = [['state', 'individuals', 'state_pop', 'total', 'p_homeless']].head(10)

AttributeError: 'list' object has no attribute 'head'

In [40]:
columnas = ['state', 'individuals', 'state_pop', 'total', 'p_homeless']
homelessness[columnas].head(10)

                  state  individuals  state_pop     total  p_homeless
0               Alabama       2570.0    4887681    3434.0    0.000703
1                Alaska       1434.0     735139    2016.0    0.002742
2               Arizona       7259.0    7158024    9865.0    0.001378
3              Arkansas       2280.0    3009733    2712.0    0.000901
4            California     109008.0   39461588  129972.0    0.003294
5              Colorado       7607.0    5691287   10857.0    0.001908
6           Connecticut       2280.0    3571520    3976.0    0.001113
7              Delaware        708.0     965479    1082.0    0.001121
8  District of Columbia       3770.0     701547    6904.0    0.009841
9               Florida      21443.0   21244317   31030.0    0.001461

## Practica comboa ataque 

Hasta ahora se an  vistos los cuatros tipos mas comunes de manipulacion de datos `ordenar filas `,`subconjuntar columnas `,`subconjuntar filas `y `añadir nuevas filas `.
en un analisis de la vioda real puedes mesclar y combi nar esta cuatro combinaciones para responder multiples preguntas  en este ejercicio responderas la pregunta `que estado  tiene el mayor numero de personas sin hogar `por cada 10000habitantes combina las nuevas habiidades e pandas para averiguarlo intrucciones 

- añade una columna que se llame indiv_per_10k que cntenga el nuemero de personas sin hogar por cada diez milen cada estado utilizando state_pop para la poblacion  de cada estado 

- sudconjuntos las filas en las que indiv_per_10ksea superior a 20 asignadolas a high_homelessness

- ordena high homelessnss en el orden indiv_per_10k, asignado a high_homelessness_str.selecionando solo las columnas statee indiv_per_10k de high_homelessness_str y guarda como resultado visualiza resulatado

In [43]:
#crear la columna indiv_per_10k

homelessness['indiv_per_10k'] = 100000 * homelessness['individuals'] / homelessness['state_pop'] 

#subconjutar filas para indiv_per_10k > mayores que 20
indiv_per_10k_gt_20 = homelessness[homelessness['indiv_per_10k'] > 20]


#ORDENAR hight_homelessness POR indiv per)10k

high_homelessness = homelessness.sort_values('indiv_per_10k', ascending=False)

#visualizar el resultado
print(high_homelessness)

                region                 state  individuals  family_members  \
8       South Atlantic  District of Columbia       3770.0          3134.0
11             Pacific                Hawaii       4131.0          2399.0
4              Pacific            California     109008.0         20964.0
37             Pacific                Oregon      11139.0          3337.0
28            Mountain                Nevada       7058.0           486.0
47             Pacific            Washington      16424.0          5880.0
32        Mid-Atlantic              New York      39827.0         52070.0
1              Pacific                Alaska       1434.0           582.0
5             Mountain              Colorado       7607.0          3250.0
45         New England               Vermont        780.0           511.0
19         New England                 Maine       1450.0          1066.0
2             Mountain               Arizona       7259.0          2606.0
9       South Atlantic               Florida      21443.0          9587.0
21         New England         Massachusetts       6811.0         13257.0
41  West North Central          South Dakota        836.0           323.0
31            Mountain            New Mexico       1949.0           602.0
26            Mountain               Montana        983.0           422.0
42  East South Central             Tennessee       6139.0          1744.0
27  West North Central              Nebraska       1745.0           676.0
20      South Atlantic              Maryland       4914.0          2230.0
3   West South Central              Arkansas       2280.0           432.0
50            Mountain               Wyoming        434.0           205.0
12            Mountain                 Idaho       1297.0           715.0
7       South Atlantic              Delaware        708.0           374.0
36  West South Central              Oklahoma       2823.0          1048.0
23  West North Central             Minnesota       3993.0          3250.0
39         New England          Rhode Island        747.0           354.0
30        Mid-Atlantic            New Jersey       6048.0          3350.0
43  West South Central                 Texas      19199.0          6111.0
10      South Atlantic               Georgia       6943.0          2556.0
6          New England           Connecticut       2280.0          1696.0
38        Mid-Atlantic          Pennsylvania       8163.0          5349.0
33      South Atlantic        North Carolina       6451.0          2817.0
29         New England         New Hampshire        835.0           615.0
25  West North Central              Missouri       3776.0          2107.0
34  West North Central          North Dakota        467.0            75.0
17  East South Central              Kentucky       2735.0           953.0
40      South Atlantic        South Carolina       3082.0           851.0
44            Mountain                  Utah       1904.0           972.0
35  East North Central                  Ohio       6929.0          3320.0
48      South Atlantic         West Virginia       1021.0           222.0
14  East North Central               Indiana       3776.0          1482.0
18  West South Central             Louisiana       2540.0           519.0
15  West North Central                  Iowa       1711.0          1038.0
13  East North Central              Illinois       6752.0          3891.0
0   East South Central               Alabama       2570.0           864.0
22  East North Central              Michigan       5209.0          3142.0
16  West North Central                Kansas       1443.0           773.0
49  East North Central             Wisconsin       2740.0          2167.0
46      South Atlantic              Virginia       3928.0          2047.0
24  East South Central           Mississippi       1024.0           328.0

    state_pop     total  p_homeless  indiv_per_10k
8      701547    6904.0    0.009841     537.383810
11    1420593    6530.0    0.004597     290.794056
4    39461588  129972.0    0.003294     276.238250
37    4181886   14476.0    0.003462     266.363072
28    3027341    7544.0    0.002492     233.141889
47    7523869   22304.0    0.002964     218.291945
32   19530351   91897.0    0.004705     203.923626
1      735139    2016.0    0.002742     195.065151
5     5691287   10857.0    0.001908     133.660453
45     624358    1291.0    0.002068     124.928326
19    1339057    2516.0    0.001879     108.285159
2     7158024    9865.0    0.001378     101.410669
9    21244317   31030.0    0.001461     100.935229
21    6882635   20068.0    0.002916      98.959192
41     878698    1159.0    0.001319      95.140765
31    2092741    2551.0    0.001219      93.131448
26    1060665    1405.0    0.001325      92.677707
42    6771631    7883.0    0.001164      90.657627
27    1925614    2421.0    0.001257      90.620446
20    6035802    7144.0    0.001184      81.414201
3     3009733    2712.0    0.000901      75.754228
50     577601     639.0    0.001106      75.138374
12    1750536    2012.0    0.001149      74.091593
7      965479    1082.0    0.001121      73.331476
36    3940235    3871.0    0.000982      71.645473
23    5606249    7243.0    0.001292      71.224093
39    1058287    1101.0    0.001040      70.585767
30    8886025    9398.0    0.001058      68.061929
43   28628666   25310.0    0.000884      67.062154
10   10511131    9499.0    0.000904      66.053786
6     3571520    3976.0    0.001113      63.838366
38   12800922   13512.0    0.001056      63.768844
33   10381615    9268.0    0.000893      62.138694
29    1353465    1450.0    0.001071      61.693505
25    6121623    5883.0    0.000961      61.682988
34     758080     542.0    0.000715      61.602997
17    4461153    3688.0    0.000827      61.307021
40    5084156    3933.0    0.000774      60.619698
44    3153550    2876.0    0.000912      60.376401
35   11676341   10249.0    0.000878      59.342220
48    1804291    1243.0    0.000689      56.587324
14    6695497    5258.0    0.000785      56.396112
18    4659690    3059.0    0.000656      54.510064
15    3148618    2749.0    0.000873      54.341301
13   12723071   10643.0    0.000837      53.068949
0     4887681    3434.0    0.000703      52.581173
22    9984072    8351.0    0.000836      52.173101
16    2911359    2216.0    0.000761      49.564482
49    5807406    4907.0    0.000845      47.181134
46    8501286    5975.0    0.000703      46.204774
24    2981020    1352.0    0.000454      34.350658

El district od columbia tiene el mayor numero de individuos sin hogar casi por casa diez mil personas esto es  casi el doble del numero del siguiente estado con mas caso es hawaii