# üß™ Pr√°cticas por Dataset de Kaggle

## üõçÔ∏è Retail Sales Dataset

üîó Dataset disponible en: [https://www.kaggle.com/datasets/mohammadtalib786/retail-sales-dataset?utm_source=chatgpt.com](https://www.kaggle.com/datasets/mohammadtalib786/retail-sales-dataset?utm_source=chatgpt.com)

In [18]:
# importar pandas
import pandas as pd

In [19]:
#cargar el dataset
df_retail= pd.read_csv('./datasets/retail_sales_dataset.csv')

**Pregunta:** ¬øCu√°ntas filas y columnas tiene el dataset?

In [20]:
num_filas, num_columnas = df_retail.shape

In [21]:
print(f"El dataset tiene {num_filas} filas y {num_columnas} columnas")

El dataset tiene 1000 filas y 9 columnas

**Pregunta:** ¬øCu√°les son los tipos de datos de cada columna?

In [22]:
# cuales son los tipos de datos de las columnas
print(df_retail.dtypes)

Transaction ID       int64
Date                object
Customer ID         object
Gender              object
Age                  int64
Product Category    object
Quantity             int64
Price per Unit       int64
Total Amount         int64
dtype: object

**Pregunta:** ¬øQu√© productos tienen mayores ventas en cantidad?

In [23]:
# productos tienen mayores ventas en cantidad
#
productos_ventas = df_retail.groupby('Product Category')['Quantity'].sum().sort_values(ascending=False).head(10)
print(productos_ventas)

Product Category
Clothing       894
Electronics    849
Beauty         771
Name: Quantity, dtype: int64

In [24]:
import numpy as np

# Crear lista de nombres de tiendas ficticias
tiendas = ['Norte', 'Sur', 'Centro', 'Este', 'Oeste']

# Asignar aleatoriamente una tienda a cada transacci√≥n
df_retail['Store'] = np.random.choice(tiendas, size=len(df_retail))

# Verificar
print(df_retail[['Transaction ID', 'Store']].head())

   Transaction ID   Store
0               1   Oeste
1               2   Oeste
2               3  Centro
3               4    Este
4               5     Sur

In [25]:
# Diccionario de mapeo de categor√≠a a tienda
mapeo_tiendas = {
    'Clothing': 'Tienda Moda',
    'Electronics': 'Tienda Tecnolog√≠a',
    'Beauty': 'Tienda Belleza'
}

# Crear columna basada en categor√≠a
df_retail['Store'] = df_retail['Product Category'].map(mapeo_tiendas)

In [27]:
# Suponiendo que 'Customer ID' contiene informaci√≥n geogr√°fica
df_retail['Store'] = df_retail['Customer ID'].apply(lambda x: 'Norte' if x.startswith('N') else 'Sur')

In [26]:
# Ventas por tienda (cantidad)
ventas_por_tienda = df_retail.groupby('Store')['Quantity'].sum().sort_values(ascending=False)
print("\nVentas por tienda (cantidad):")
print(ventas_por_tienda)

# Ingresos por tienda (monto total)
ingresos_por_tienda = df_retail.groupby('Store')['Total Amount'].sum().sort_values(ascending=False)
print("\nIngresos por tienda:")
print(ingresos_por_tienda)

Ventas por tienda (cantidad):
Store
Tienda Moda          894
Tienda Tecnolog√≠a    849
Tienda Belleza       771
Name: Quantity, dtype: int64

Ingresos por tienda:
Store
Tienda Tecnolog√≠a    156905
Tienda Moda          155580
Tienda Belleza       143515
Name: Total Amount, dtype: int64

**Pregunta:** ¬øQu√© tiendas venden m√°s productos?

In [28]:
# Qu√© tiendas venden m√°s productos

tiendas_ventas = df_retail.groupby('Store')['Quantity'].sum().sort_values(ascending=False)
porcentaje_ventas = (df_retail['Store'].value_counts(normalize=True) * 100).round(1)
print("\nDistribuci√≥n porcentual por tienda:")
print(porcentaje_ventas)

Distribuci√≥n porcentual por tienda:
Store
Sur    100.0
Name: proportion, dtype: float64

**Pregunta:** ¬øExisten datos faltantes o duplicados?

In [29]:
# existen dotos faltantes o duplicados 
print(df_retail.isnull().sum())
print(df_retail.duplicated().sum())

Transaction ID      0
Date                0
Customer ID         0
Gender              0
Age                 0
Product Category    0
Quantity            0
Price per Unit      0
Total Amount        0
Store               0
dtype: int64
0

**Pregunta:** ¬øCu√°l es el ingreso total por tienda?

In [ ]:
#cual es el ingreso total de la tienda }
ingreso_total = df_retail['Total Amount'].sum()
print(f'El ingreso total de la tienda es: {ingreso_total}')

El ingreso total de la tienda es: 456000

**Pregunta:** Agrupa las ventas por tipo de producto y encuentra la media de precios.

In [ ]:
# Agrupa las ventas por tipo de producto y encuentra la media de precios
mean_prices = df_retail.groupby('Product Category')['Price per Unit'].mean()
print(mean_prices)

Product Category
Beauty         184.055375
Clothing       174.287749
Electronics    181.900585
Name: Price per Unit, dtype: float64

**Pregunta:** Crea una nueva columna llamada `ingreso_total` que sea precio * cantidad.

In [ ]:
# Crea una nueva columna llamada `ingreso_total` que sea precio * cantidad.
df_retail['ingreso_total'] = df_retail['Price per Unit'] * df_retail['Quantity']
print(df_retail[['Price per Unit', 'Quantity', 'ingreso_total']].head())

   Price per Unit  Quantity  ingreso_total
0              50         3            150
1             500         2           1000
2              30         1             30
3             500         1            500
4              50         2            100

**Pregunta:** Usa una tabla din√°mica para comparar ingresos por tienda y por producto.

In [ ]:
# Usa una tabla din√°mica para comparar ingresos por tienda y por producto.
pivot_table = df_retail.pivot_table(values='ingreso_total', index='Price per Unit', columns='Product Category', aggfunc='sum', fill_value=0)
print(pivot_table)

Product Category  Beauty  Clothing  Electronics
Price per Unit
25                  3925      4600         4525
30                  3990      5130         4230
50                  8500      9450         8750
300                42600     57900        54900
500                84500     78500        84500

## üìà Dummy Advertising and Sales Data

üîó Dataset disponible en: [https://www.kaggle.com/datasets/harrimansaragih/dummy-advertising-and-sales-data?utm_source=chatgpt.com](https://www.kaggle.com/datasets/harrimansaragih/dummy-advertising-and-sales-data?utm_source=chatgpt.com)

In [32]:
import pandas as pd

In [33]:
dummy_data =pd.read_csv('./datasets/Dummy Data HSS.csv')

In [31]:
dummy_data.head()

          version https://git-lfs.github.com/spec/v1
0  oid sha256:79948d29df471e3112679d7db719f621076...
1                                        size 201852

**Pregunta:** ¬øCu√°l es el gasto promedio en publicidad por canal (TV, Radio, Peri√≥dico)

In [34]:
# Cu√°l es el gasto promedio en publicidad por canal (TV, Radio, Social Media)
avg_ad_spend = dummy_data[['TV', 'Radio', 'Social Media']].mean()
print(avg_ad_spend)

TV              54.066857
Radio           18.160356
Social Media     3.323956
dtype: float64

**Pregunta:** ¬øExiste correlaci√≥n entre el presupuesto publicitario y las ventas?

In [ ]:
# Existe correlaci√≥n entre el presupuesto publicitario y las ventas}
correlation = dummy_data[['TV', 'Radio', 'Social Media', 'Sales']].corr()
print(correlation['Sales'].sort_values(ascending=False))

Sales           1.000000
TV              0.999497
Radio           0.869105
Social Media    0.528906
Name: Sales, dtype: float64

**Pregunta:** ¬øQu√© campa√±as tienen ventas superiores a la media?

In [ ]:
# Qu√© campa√±as tienen ventas superiores a la media 
mean_sales = dummy_data['Sales'].mean()
high_sales_campaigns = dummy_data[dummy_data['Sales'] > mean_sales]     
print(high_sales_campaigns)

        TV      Radio  Social Media Influencer       Sales
3     83.0  30.020028      6.922304       Mega  298.246340
6     55.0  24.893811      4.273602      Micro  198.679825
8     76.0  24.648898      7.130116      Macro  270.189400
10    62.0  24.345189      5.151483       Nano  224.961019
12    64.0  20.240424      3.921148      Micro  229.632381
...    ...        ...           ...        ...         ...
4561  60.0  21.841864      5.092528      Macro  210.680016
4563  93.0  25.285149      2.805840      Macro  327.466288
4564  99.0  36.024174      4.288755      Macro  355.807121
4568  71.0  20.610685      6.545573       Nano  249.101915
4570  71.0  17.534640      1.940873      Macro  253.610411

[2239 rows x 5 columns]

**Pregunta:** Filtra las campa√±as con publicidad en TV > 200 y Radio > 20.

se cambia de 200 a 20 por que no sale lo cambie por 20 a 5 para que podamos ver que saldria

In [ ]:
high_tv_radio_campaigns = dummy_data[(dummy_data['TV'] > 20 & (dummy_data['Radio'] > 5)) | (dummy_data['TV'] > 20 & (dummy_data['Radio'] > 5))]
print(high_tv_radio_campaigns)

        TV      Radio  Social Media Influencer       Sales
0     16.0   6.566231      2.907983       Mega   54.732757
1     13.0   9.237765      2.409567       Mega   46.677897
2     41.0  15.886446      2.913410       Mega  150.177829
3     83.0  30.020028      6.922304       Mega  298.246340
4     15.0   8.437408      1.405998      Micro   56.594181
...    ...        ...           ...        ...         ...
4567  26.0   4.472360      0.717090      Micro   94.685866
4568  71.0  20.610685      6.545573       Nano  249.101915
4569  44.0  19.800072      5.096192      Micro  163.631457
4570  71.0  17.534640      1.940873      Macro  253.610411
4571  42.0  15.966688      5.046548      Micro  148.202414

[4562 rows x 5 columns]

In [ ]:
#  Filtra las campa√±as con publicidad en TV > 200 y Radio > 20.
high_tv_radio_campaigns = dummy_data[(dummy_data['TV'] > 200) & (dummy_data['Radio'] > 20)]
print(high_tv_radio_campaigns)

Empty DataFrame
Columns: [TV, Radio, Social Media, Influencer, Sales]
Index: []

**Pregunta:** Agrupa por canal publicitario y calcula la media de ventas.

In [ ]:
# Agrupa por canal publicitario y calcula la media de ventas
mean_sales_by_channel = dummy_data.groupby(['TV', 'Radio', 'Social Media'])['Sales'].mean()
print(mean_sales_by_channel)

TV     Radio      Social Media
10.0   0.573244   1.072542         33.719607
       0.688749   0.982756         33.459886
       0.758569   0.527881         35.547998
       0.858810   3.621606         36.882298
       1.179967   0.939789         34.205170
                                     ...
100.0  42.225232  8.977117        364.079751
       42.832653  3.965113        354.869546
       43.760694  6.420971        350.087078
       44.560410  8.470340        357.092487
       45.082921  4.511628        352.657695
Name: Sales, Length: 4552, dtype: float64

**Pregunta:** Crea una columna de ROI estimado usando una f√≥rmula simple.

In [ ]:
# Crea una columna de ROI estimado usando una f√≥rmula simple
dummy_data['Estimated ROI'] = (dummy_data['Sales'] - (dummy_data['TV'] + dummy_data['Radio'] + dummy_data['Social Media'])) / (dummy_data['TV'] + dummy_data['Radio'] + dummy_data['Social Media'])
print(dummy_data[['Sales', 'TV', 'Radio', 'Social Media', 'Estimated ROI']].head())

        Sales    TV      Radio  Social Media  Estimated ROI
0   54.732757  16.0   6.566231      2.907983       1.148555
1   46.677897  13.0   9.237765      2.409567       0.893832
2  150.177829  41.0  15.886446      2.913410       1.511341
3  298.246340  83.0  30.020028      6.922304       1.486581
4   56.594181  15.0   8.437408      1.405998       1.278036

**Pregunta:** Realiza una pivot_table para ver ventas promedio por cada tipo de canal.

In [ ]:
# Realiza una pivot_table para ver ventas promedio por cada tipo de canal
pivot_table = dummy_data.pivot_table(values='Sales', index='TV', columns='Radio', aggfunc='mean', fill_value=0)
print(pivot_table)

Radio  0.000684   0.014486   0.021883   0.026295   0.038151   0.043082   \
TV
10.0         0.0   0.000000   0.000000        0.0   0.000000        0.0
11.0         0.0   0.000000   0.000000        0.0  34.059559        0.0
12.0         0.0   0.000000   0.000000        0.0   0.000000        0.0
13.0         0.0  45.032326   0.000000        0.0   0.000000        0.0
14.0         0.0   0.000000  53.702021        0.0   0.000000        0.0
...          ...        ...        ...        ...        ...        ...
96.0         0.0   0.000000   0.000000        0.0   0.000000        0.0
97.0         0.0   0.000000   0.000000        0.0   0.000000        0.0
98.0         0.0   0.000000   0.000000        0.0   0.000000        0.0
99.0         0.0   0.000000   0.000000        0.0   0.000000        0.0
100.0        0.0   0.000000   0.000000        0.0   0.000000        0.0

Radio  0.066123   0.084175   0.095047   0.103555   ...  42.271579   42.331654  \
TV                                                 ...
10.0         0.0        0.0   0.000000        0.0  ...        0.0    0.000000
11.0         0.0        0.0   0.000000        0.0  ...        0.0    0.000000
12.0         0.0        0.0   0.000000        0.0  ...        0.0    0.000000
13.0         0.0        0.0  44.179451        0.0  ...        0.0    0.000000
14.0         0.0        0.0   0.000000        0.0  ...        0.0    0.000000
...          ...        ...        ...        ...  ...        ...         ...
96.0         0.0        0.0   0.000000        0.0  ...        0.0    0.000000
97.0         0.0        0.0   0.000000        0.0  ...        0.0  348.392736
98.0         0.0        0.0   0.000000        0.0  ...        0.0    0.000000
99.0         0.0        0.0   0.000000        0.0  ...        0.0    0.000000
100.0        0.0        0.0   0.000000        0.0  ...        0.0    0.000000

Radio   42.832653  43.129332   43.760694   44.560410   44.861299   45.082921  \
TV
10.0     0.000000        0.0    0.000000    0.000000    0.000000    0.000000
11.0     0.000000        0.0    0.000000    0.000000    0.000000    0.000000
12.0     0.000000        0.0    0.000000    0.000000    0.000000    0.000000
13.0     0.000000        0.0    0.000000    0.000000    0.000000    0.000000
14.0     0.000000        0.0    0.000000    0.000000    0.000000    0.000000
...           ...        ...         ...         ...         ...         ...
96.0     0.000000        0.0    0.000000    0.000000    0.000000    0.000000
97.0     0.000000        0.0    0.000000    0.000000    0.000000    0.000000
98.0     0.000000        0.0    0.000000    0.000000    0.000000    0.000000
99.0     0.000000        0.0    0.000000    0.000000  355.148081    0.000000
100.0  354.869546        0.0  350.087078  357.092487    0.000000  352.657695

Radio  47.116293   48.871161
TV
10.0         0.0    0.000000
11.0         0.0    0.000000
12.0         0.0    0.000000
13.0         0.0    0.000000
14.0         0.0    0.000000
...          ...         ...
96.0         0.0    0.000000
97.0         0.0    0.000000
98.0         0.0    0.000000
99.0         0.0  349.156031
100.0        0.0    0.000000

[91 rows x 4552 columns]

## üé¨ The Movies Dataset

üîó Dataset disponible en: [https://www.kaggle.com/datasets/rounakbanik/the-movies-dataset?utm_source=chatgpt.com](https://www.kaggle.com/datasets/rounakbanik/the-movies-dataset?utm_source=chatgpt.com)

In [ ]:
import pandas as pd

In [ ]:
movie_daily = pd.read_csv('./datasets/movie_daily.csv')

In [ ]:
Movie_franchise = pd.read_csv('./datasets/MovieFranchises.csv')

In [ ]:
movie_daily.head()

   index                Movie          Distr    Gross        date
0      0      Despicable Me 2      Universal  6845130  2013/07/16
1      1          Grown Ups 2  Sony Pictures  5273521  2013/07/16
2      2          Pacific Rim   Warner Bros.  4416340  2013/07/16
3      3             The Heat  20th Century‚Ä¶  2175635  2013/07/16
4      4  Monsters University    Walt Disney  1931131  2013/07/16

In [ ]:
# Verifica las columnas disponibles
print("Columnas disponibles:", movie_daily.columns.tolist())

Columnas disponibles: ['index', 'Movie', 'Distr', 'Gross', 'date']

In [ ]:
print(movie_daily.dtypes)

print(movie_daily.columns)


print(movie_daily.head())

index     int64
Movie    object
Distr    object
Gross     int64
date     object
dtype: object
Index(['index', 'Movie', 'Distr', 'Gross', 'date'], dtype='object')
   index                Movie          Distr    Gross        date
0      0      Despicable Me 2      Universal  6845130  2013/07/16
1      1          Grown Ups 2  Sony Pictures  5273521  2013/07/16
2      2          Pacific Rim   Warner Bros.  4416340  2013/07/16
3      3             The Heat  20th Century‚Ä¶  2175635  2013/07/16
4      4  Monsters University    Walt Disney  1931131  2013/07/16

**Pregunta:** ¬øCu√°les son las pel√≠culas con mayor presupuesto?

In [ ]:
# Top 10 pel√≠culas con mayores ingresos diarios (Gross)
top_gross = movie_daily[['Movie', 'Gross']].sort_values('Gross', ascending=False).head(10)
print("Pel√≠culas con mayores ingresos diarios:")
print(top_gross.to_string(index=False))

Pel√≠culas con mayores ingresos diarios:
                      Movie     Gross
          Avengers: Endgame 157461641
 Star Wars Ep. VII: The Fo‚Ä¶ 119119282
          Avengers: Endgame 109264122
     Avengers: Infinity War 106334939
 Star Wars Ep. VIII: The L‚Ä¶ 104684491
          Avengers: Endgame  90389244
 Star Wars: The Rise of Sk‚Ä¶  89615288
The Avengers: Age of Ultron  84424532
     Avengers: Infinity War  82131612
             Jurassic World  81953950

**Pregunta:** ¬øQu√© pel√≠culas obtuvieron mayor ganancia (ingresos - presupuesto)?

In [ ]:
# Qu√© pel√≠culas obtuvieron mayor ganancia (ingresos - presupuesto)
top_profit = movie_daily[['Movie', 'Gross']].assign(Profit=lambda x: x['Gross']).sort_values('Profit', ascending=False).head(10)
print("\nPel√≠culas con mayor ganancia:")
print(top_profit.to_string(index=False))

Pel√≠culas con mayor ganancia:
                      Movie     Gross    Profit
          Avengers: Endgame 157461641 157461641
 Star Wars Ep. VII: The Fo‚Ä¶ 119119282 119119282
          Avengers: Endgame 109264122 109264122
     Avengers: Infinity War 106334939 106334939
 Star Wars Ep. VIII: The L‚Ä¶ 104684491 104684491
          Avengers: Endgame  90389244  90389244
 Star Wars: The Rise of Sk‚Ä¶  89615288  89615288
The Avengers: Age of Ultron  84424532  84424532
     Avengers: Infinity War  82131612  82131612
             Jurassic World  81953950  81953950

In [ ]:
# Verifica si hay alguna columna que pueda servir como categor√≠a
print(movie_daily.columns.tolist())  

# Ejemplo usando Distribuidora (Distr) como alternativa
if 'Distr' in movie_daily.columns:
    distr_counts = movie_daily['Distr'].value_counts()
    print("\nPel√≠culas por distribuidora:")
    print(distr_counts)
else:
    print("No hay columnas de categor√≠a disponibles en este dataset")

['index', 'Movie', 'Distr', 'Gross', 'date']

Pel√≠culas por distribuidora:
Distr
Warner Bros.     12433
20th Century‚Ä¶     9779
Sony Pictures     8985
Universal         8524
Lionsgate         7741
                 ...
Drafthouse F‚Ä¶        1
MUBI                 1
Parade Deck ‚Ä¶        1
Carpe Stella         1
Area 23a             1
Name: count, Length: 213, dtype: int64

**Pregunta:** ¬øCu√°ntas pel√≠culas hay por g√©nero?

In [ ]:
# cuantas peliculas hay por g√©nero
genre_counts = movie_daily['Movie'].value_counts()
print("\nCantidad de pel√≠culas por g√©nero:")
print(genre_counts)

Cantidad de pel√≠culas por g√©nero:
Movie
Island of Lemurs: Madagascar    354
The Hunger Games: Mocking‚Ä¶      219
Free Solo                       216
Gravity                         215
The Lego Movie                  210
                               ...
Amy                               1
Jimmy's Hall                      1
Maggie                            1
Gemma Bovery                      1
Testament of Youth                1
Name: count, Length: 2134, dtype: int64

**Pregunta:** ¬øExisten pel√≠culas con presupuesto o ingresos nulos?

In [ ]:
# existen peliculas con presupesto o ingreso nulo 
null_movies = movie_daily[movie_daily['Distr'].isnull() | movie_daily['Gross'].isnull()]
if not null_movies.empty:
    print("\nPel√≠culas con presupuesto o ingreso nulo:")
    print(null_movies[['Movie', 'Distr', 'Gross']])
else:
    print("No hay pel√≠culas con presupuesto o ingreso nulo")

Pel√≠culas con presupuesto o ingreso nulo:
              Movie Distr   Gross
40              NaN   NaN      48
82              NaN   NaN     152
125             NaN   NaN     133
165             NaN   NaN     123
205             NaN   NaN      71
...             ...   ...     ...
83170  Perfect Blue   NaN     674
83219  Perfect Blue   NaN    2155
83281  Perfect Blue   NaN     920
83347  Perfect Blue   NaN     772
99028  Dear Comrade   NaN  457000

[172 rows x 3 columns]

**Pregunta:** Crea una nueva columna de rentabilidad (ganancia/presupuesto).

In [ ]:
# Unir presupuesto desde Movie_franchise
movie_daily = movie_daily.merge(
    Movie_franchise[['Title', 'Budget']],
    left_on='Movie',
    right_on='Title',
    how='left'
)

# Limpiar presupuesto a num√©rico
movie_daily['Budget'] = (
    movie_daily['Budget']
    .astype(str)
    .str.replace(r'[^0-9.]', '', regex=True)
    .replace('', '0')
    .astype(float)
)

# Calcular rentabilidad
movie_daily['Rentabilidad'] = (
    movie_daily['Gross'] - movie_daily['Budget']
) / movie_daily['Budget']

print(movie_daily[['Movie', 'Gross', 'Budget', 'Rentabilidad']].head())

                 Movie    Gross  Budget  Rentabilidad
0      Despicable Me 2  6845130     0.0           inf
1          Grown Ups 2  5273521     0.0           inf
2          Pacific Rim  4416340     0.0           inf
3             The Heat  2175635     0.0           inf
4  Monsters University  1931131     0.0           inf

**Pregunta:** Agrupa por a√±o de lanzamiento y calcula ingresos promedio.

In [ ]:
# Crear columna Year desde date
movie_daily['date'] = pd.to_datetime(movie_daily['date'], errors='coerce')
movie_daily['Year'] = movie_daily['date'].dt.year

# Agrupar por a√±o y calcular promedio de Gross
ingreso_promedio_por_ano = (
    movie_daily.groupby('Year')['Gross']
    .mean()
    .reset_index(name='Ingreso Promedio')
)

print(ingreso_promedio_por_ano.head())

   Year  Ingreso Promedio
0  2013     644874.290173
1  2014     691907.382737
2  2015     772615.352941
3  2016     689819.505449
4  2017     646944.925885

**Pregunta:** Realiza una tabla din√°mica que compare ingresos por g√©nero y a√±o.

In [ ]:
tabla_dinamica = movie_daily.pivot_table(
    values='Gross',
    index='Distr',     # si tienes 'Genero', c√°mbialo aqu√≠
    columns='Year',
    aggfunc='sum',
    fill_value=0
)

print(tabla_dinamica.head())

Year                2013        2014        2015        2016        2017  \
Distr
101 Studios            0           0           0           0           0
1091 Media             0           0           0           0           0
20th Century‚Ä¶  452313791  1818828936  1316958058  1499089514  1352981840
3DLive                 0           0           0           0           0
A24              5265338      409600    15996304    52781473   102387948

Year                 2018       2019       2020
Distr
101 Studios             0    5978643   18606492
1091 Media              0     721341      26343
20th Century‚Ä¶  1114546358  483730493  158515896
3DLive                  0          0      31252
A24              92710338   94964952   26047848

## üå¶Ô∏è Climate Insights Dataset

üîó Dataset disponible en: [https://www.kaggle.com/datasets/goyaladi/climate-insights-dataset?utm_source=chatgpt.com](https://www.kaggle.com/datasets/goyaladi/climate-insights-dataset?utm_source=chatgpt.com)

In [ ]:
import pandas as pd

In [ ]:
climate_change = pd.read_csv('./datasets/climate_change_data.csv')

In [ ]:
climate_change.head()

,Date,Location,Country,Temperature,CO2 Emissions,Sea Level Rise,Precipitation,Humidity,Wind Speed
0,2000-01-01 00:00:00.000000000,New Williamtown,Latvia,10.688986,403.118903,0.717506,13.835237,23.631256,18.492026
1,2000-01-01 20:09:43.258325832,North Rachel,South Africa,13.814430,396.663499,1.205715,40.974084,43.982946,34.249300
2,2000-01-02 16:19:26.516651665,West Williamland,French Guiana,27.323718,451.553155,-0.160783,42.697931,96.652600,34.124261
3,2000-01-03 12:29:09.774977497,South David,Vietnam,12.309581,422.404983,-0.475931,5.193341,47.467938,8.554563
4,2000-01-04 08:38:53.033303330,New Scottburgh,Moldova,13.210885,410.472999,1.135757,78.695280,61.789672,8.001164

In [ ]:
print("Columnas disponibles:",climate_change.columns.tolist())

Columnas disponibles: ['Date', 'Location', 'Country', 'Temperature', 'CO2 Emissions', 'Sea Level Rise', 'Precipitation', 'Humidity', 'Wind Speed']

**Pregunta:** ¬øCu√°ntos registros hay por a√±o?

In [ ]:

# Convertir la columna Date a datetime y extraer el a√±o
climate_change['Date'] = pd.to_datetime(climate_change['Date'])
climate_change['Year'] = climate_change['Date'].dt.year

# Contar registros por a√±o
registros_por_a√±o = climate_change['Year'].value_counts().sort_index()
print("\nRegistros por a√±o:")
print(registros_por_a√±o)

Registros por a√±o:
Year
2000    436
2001    435
2002    434
2003    435
2004    435
2005    435
2006    434
2007    435
2008    435
2009    435
2010    434
2011    435
2012    436
2013    434
2014    434
2015    435
2016    436
2017    434
2018    435
2019    434
2020    436
2021    434
2022    434
Name: count, dtype: int64

**Pregunta:** ¬øCu√°l es la temperatura media mensual m√°s alta y m√°s baja?

In [ ]:
# Tu c√≥digo aqu√≠
# Extraer mes y a√±o
climate_change['Month'] = climate_change['Date'].dt.month

# Calcular medias mensuales
temp_mensual = climate_change.groupby(['Year', 'Month'])['Temperature'].mean()

# Encontrar valores extremos
max_temp = temp_mensual.idxmax()
min_temp = temp_mensual.idxmin()

print(f"\nMes m√°s c√°lido: {max_temp} con {temp_mensual.max():.2f}¬∞C")
print(f"Mes m√°s fr√≠o: {min_temp} con {temp_mensual.min():.2f}¬∞C")

Mes m√°s c√°lido: (np.int32(2014), np.int32(2)) con 17.75¬∞C
Mes m√°s fr√≠o: (np.int32(2022), np.int32(3)) con 12.73¬∞C

**Pregunta:** ¬øQu√© meses tienen mayor precipitaci√≥n?

In [ ]:
# Tu c√≥digo aqu√≠
# Precipitaci√≥n media por mes
precip_mensual = climate_change.groupby('Month')['Precipitation'].mean().sort_values(ascending=False)

print("\nMeses con mayor precipitaci√≥n:")
print(precip_mensual.head())

Meses con mayor precipitaci√≥n:
Month
9     50.947790
5     50.818566
3     50.494378
10    50.241029
4     50.131147
Name: Precipitation, dtype: float64

**Pregunta:** ¬øExisten valores faltantes en alguna columna?

In [ ]:
# Tu c√≥digo aqu√≠
# Verificar valores faltantes
valores_faltantes = climate_change.isnull().sum()

print("\nValores faltantes por columna:")
print(valores_faltantes[valores_faltantes > 0])

Valores faltantes por columna:
Series([], dtype: int64)

**Pregunta:** Agrupa por estaci√≥n del a√±o y calcula la media de temperatura.

In [ ]:
# Tu c√≥digo aqu√≠
# Definir funci√≥n para determinar estaci√≥n
def get_season(month):
    if month in [12, 1, 2]:
        return 'Verano'
    elif month in [3, 4, 5]:
        return 'Oto√±o'
    elif month in [6, 7, 8]:
        return 'Invierno'
    else:
        return 'Primavera'

# Aplicar funci√≥n
climate_change['Season'] = climate_change['Month'].apply(get_season)

# Calcular media por estaci√≥n
temp_por_estacion = climate_change.groupby('Season')['Temperature'].mean()

print("\nTemperatura media por estaci√≥n:")
print(temp_por_estacion)

Temperatura media por estaci√≥n:
Season
Invierno     14.974683
Oto√±o        14.809827
Primavera    15.003823
Verano       14.957014
Name: Temperature, dtype: float64

**Pregunta:** Crea una columna que clasifique los d√≠as como 'calurosos' o 'templados'.

In [ ]:
# Tu c√≥digo aqu√≠
# Calcular umbral (media + 1 desviaci√≥n est√°ndar)
umbral = climate_change['Temperature'].mean() + climate_change['Temperature'].std()

# Crear columna de clasificaci√≥n
climate_change['Day_Type'] = climate_change['Temperature'].apply(
    lambda x: 'Caluroso' if x > umbral else 'Templado'
)

print("\nDistribuci√≥n de d√≠as:")
print(climate_change['Day_Type'].value_counts())

Distribuci√≥n de d√≠as:
Day_Type
Templado    8403
Caluroso    1597
Name: count, dtype: int64

**Pregunta:** Genera una pivot_table que muestre la temperatura promedio por a√±o y mes.

In [ ]:
# Tu c√≥digo aqu√≠
# Crear pivot table
pivot_temp = pd.pivot_table(
    climate_change,
    values='Temperature',
    index='Year',
    columns='Month',
    aggfunc='mean'
)

print("\nTemperatura promedio por a√±o y mes:")
print(pivot_temp)

Temperatura promedio por a√±o y mes:
Month         1          2          3          4          5          6   \
Year
2000   14.206357  13.932424  16.353462  14.956865  15.447593  15.312805
2001   14.708201  16.514600  13.973159  15.036136  14.800959  14.723588
2002   13.620897  14.760417  14.212325  13.850515  13.673576  13.502537
2003   14.885562  16.854469  14.114849  14.987196  14.129527  14.842865
2004   15.914895  13.717340  14.815031  15.814182  15.283723  15.279225
2005   15.310610  14.956032  16.763042  14.461071  16.430089  15.204628
2006   13.021321  14.050059  16.181762  14.232334  15.479402  16.405412
2007   14.419660  14.287890  14.973328  13.083154  15.425498  16.270065
2008   15.947948  15.317924  14.456524  14.146105  15.636002  15.028988
2009   15.004275  13.500589  14.986215  13.581644  13.945644  14.644463
2010   16.430713  16.602293  13.796567  14.304352  14.307113  14.671207
2011   14.799867  13.479437  15.693903  15.139654  14.684203  15.105863
2012   15.014508  14.846005  13.295717  15.058723  13.914326  14.940604
2013   14.817513  15.026508  15.169225  15.652592  15.699235  15.624625
2014   14.211216  17.750663  14.098651  16.129610  15.228852  13.684015
2015   14.241782  15.033940  14.004943  16.138518  14.196789  14.114472
2016   14.670316  15.497960  15.300441  15.048309  16.276688  13.696816
2017   14.916962  16.109878  14.875714  14.620956  14.702661  14.718316
2018   14.459322  13.972831  16.687060  15.402600  13.581579  15.342407
2019   14.979902  15.127148  15.228717  15.051345  15.698920  15.217087
2020   16.365128  16.494077  14.513129  13.769750  14.111491  15.371135
2021   15.004946  14.917552  15.611437  15.020317  14.224062  15.239940
2022   13.855182  16.237678  12.730452  13.669461  14.048418  14.726455

Month         7          8          9          10         11         12
Year
2000   15.628546  15.079403  14.245601  14.634586  15.791594  14.747044
2001   15.254576  15.039348  14.480689  14.634459  15.584229  14.721999
2002   15.576326  14.671967  16.328612  14.936858  15.609769  14.881162
2003   15.227706  15.968507  15.345826  14.831173  15.958393  14.932671
2004   16.452629  15.951439  14.279708  15.091279  15.018508  15.603309
2005   15.133922  15.070869  15.637863  15.126200  16.467725  14.171810
2006   14.475120  13.628186  15.726648  15.800620  14.232370  15.692140
2007   15.347496  15.393289  16.682545  15.696156  15.788519  15.113820
2008   14.423550  15.095044  14.290230  13.657560  15.499798  14.481284
2009   14.477702  16.043215  13.838197  13.994606  14.802935  14.848085
2010   14.375021  14.925134  14.717537  15.053192  14.369786  13.809852
2011   15.690435  15.687834  13.865234  15.437654  15.467247  16.068971
2012   14.006859  13.204141  15.538426  14.538936  15.288107  14.969530
2013   15.951572  14.614062  14.210218  14.339588  14.792342  13.711844
2014   15.053259  13.415877  15.484833  16.763142  15.735282  15.005282
2015   14.048836  14.783575  15.314595  14.618449  14.371005  14.182403
2016   14.551097  15.774117  13.637672  15.458059  15.202107  15.238861
2017   14.430206  16.142818  15.179017  13.392676  14.928116  14.321032
2018   14.933499  15.235965  13.976580  14.518844  13.422849  14.163839
2019   15.397701  14.697973  13.085429  14.792796  16.787389  15.076437
2020   14.828948  14.722336  16.534824  13.441375  15.383780  15.929036
2021   14.669112  14.603044  15.945297  15.155843  15.000113  16.138813
2022   15.354888  14.516170  14.715461  14.762771  16.138990  15.065756