# Operaciones Con  Listas

## copiar una lista a otra

In [ ]:
#forma incorrecta de copiar una lista 

lista_1=[1]

lista_2 = lista_1
print(f'lista_1:{lista_1} \n lista_2: {lista_2}')

lista_1:[1]
 lista_2: [1]

In [10]:
lista_2.append(10)

In [11]:
print(lista_2)

[1, 10]

In [12]:
print(lista_1)

[1, 10]

Slicing o Rebanadas

In [15]:
list_1 = [3,4,5,6,7,8]
list_1[:]

[3, 4, 5, 6, 7, 8]

In [16]:
#forma correcta 

list_2 =list_1[:]
list_2.append(11)
list_2

[3, 4, 5, 6, 7, 8, 11]

In [17]:
list_1

[3, 4, 5, 6, 7, 8]

In [18]:
x = [4,6,7,9,12]
y =[]

y=x.copy()

print(y)

[4, 6, 7, 9, 12]

### Slicing o Rebaanas - Indices Negativos 
observa el franmento de codigo a continuacion:

`my_list[start:end]`

para confrimar:

1. **start** es el indice  del primer elemento incluido en la rebanada 
2. **end** es el indice del primer elemento no incluido en la rebanada

In [22]:
my_lista = [10,8,6,4,2]

my_lista2 =my_lista[0:3] 

print(f'la lista original es : {my_lista}\n la nueva lista es : {my_lista2}')

la lista original es : [10, 8, 6, 4, 2]
 la nueva lista es : [10, 8, 6]

In [23]:
my_lista[2:-1]

[6, 4]

In [27]:
my_lista[1:]

[8, 6, 4, 2]

In [24]:
my_lista[:2]

[10, 8]

In [25]:
my_lista[:]

[10, 8, 6, 4, 2]

In [26]:
my_lista[2:]

[6, 4, 2]

In [28]:
my_lista[4:-1]

[]

In [ ]:
my_lista[:2]

In [20]:
lista = [3,2,10,9,7]
lista[0:3]

[3, 2, 10]

dado la lista  10,8,6,4,2 eliminar  los numero del 8 y del 6

In [1]:
listaN =[10,8,6,4,2]

del listaN[1:3]

listaN

[10, 4, 2]

### `pop`  remueve el ultimo elemento de la lista sin argumentos

In [4]:
listaN

[10, 4, 2]

In [5]:
listaN.pop()
listaN

[10, 4]

In [8]:
listaN =[]
listaN.append(7)
listaN.append(5)
listaN.append(9)
listaN.append(11)
listaN.append(9)

In [9]:
listaN

[7, 5, 9, 11, 9]

In [10]:
listaN.pop(1)
listaN

[7, 9, 11, 9]

In [ ]:
lista_example =["a",12,True]
lista_example
print(type(lista_example))

<class 'list'>

In [ ]:
#lista de listas 
list_house =[['hallway',100]],['kitchen',85]
print(list_house)
print(type(list_house))

([['hallway', 100]], ['kitchen', 85])
<class 'tuple'>

In [25]:
list_family =['heydy',22,'innes',54,'henry',33,'oscar',38]

print(list_family)

['heydy', 22, 'innes', 54, 'henry', 33, 'oscar', 38]

In [24]:
#indexaion 
print(list_family[2])


#inexacion negativa 
print(list_family[-6])

innes
innes

In [31]:
#slicing[star : end ]
#inclusive: exclusive 
print(list_family[3:5]) #no toma el ultimo dijito 
list_family[:5] #desde el inicio hata la posicion 4

[54, 'henry']

['heydy', 22, 'innes', 54, 'henry']

In [33]:
print(list_family[5:])#desde la posicion 5 hasta el final

[33, 'oscar', 38]

### **Manipulando listas**

In [34]:
print(list_family)

['heydy', 22, 'innes', 54, 'henry', 33, 'oscar', 38]

In [44]:
#agregar y remover elementos de la lista 

#agregar 
fam_Ext = list_family + ['Ahuchena',12]
print (fam_Ext)

['achuchena', 12, 'Ahuchena', 12]

In [45]:
# Modificar elementos de la lista
list_family = ['heydy', 22, 'ines', 54, 'henry', 33, 'oscar', 37]

# Cambiar el último elemento por 37
list_family[-1] = 37
print(list_family)

['heydy', 22, 'ines', 54, 'henry', 33, 'oscar', 37]

In [46]:
# Reemplazar los dos primeros elementos por otros
list_family[:2] = ['Mayumy', 24]
print(list_family)

# Agregar elementos (sin modificar la lista original)
fam_Ext = list_family + ['Achuchena', 12]
print(fam_Ext)

# Aquí puedes seguir con eliminar elementos

['Mayumy', 24, 'ines', 54, 'henry', 33, 'oscar', 37]
['Mayumy', 24, 'ines', 54, 'henry', 33, 'oscar', 37, 'Achuchena', 12]

In [47]:
# Ejercicio - Eliminar 'poolhouse' y 24.5
areas = ["hallway", 11.25, "kitchen", 18.0,
         "chill zone", 20.0, "bedroom", 10.75,
         "bathroom", 10.50, "poolhouse", 24.5,
         "garage", 15.45]

# Eliminar 'poolhouse' y 24.5
areas.remove("poolhouse")
areas.remove(24.5)

print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'garage', 15.45]

### Funciones y Paquetes

## **funcion**

es una piexa de codigo reutilizable,destinada a resolver un tare a paricular

In [49]:
lista_fam = [32,54,33,38,36]

print(lista_fam)
print(f"el tamaño de la lusta es "{len((lista_fam))})
print(f"el valor de la lista maximo es "{ma((lista_fam))})

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2988494282.py, line 4)

In [52]:
round(1.689,5)

1.689

In [50]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [51]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more positional arguments, return the largest argument.

In [ ]:
help(appen)

In [53]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [56]:
first = [51,25,18.0,20.0]

full_sorted = sorted(first)#orden de forma ascendente 

full_sorted_asc =sorted(first,reverse=False)#ascendente

full_sorted_desc =sorted(first,reverse=True)#ascenden
print(full_sorted)
print(full_sorted_asc)
print(full_sorted_desc)

[18.0, 20.0, 25, 51]
[18.0, 20.0, 25, 51]
[51, 25, 20.0, 18.0]

### **Metodos**
en python es objecto y cada objecto tiene metodos especificos asociados 
-`objectod con diferengtes tipod pueden tener metodos con el mismo nommbre `

In [57]:
lista_fam = ['heydy', 22, 'ines', 54, 'henry', 33, 'oscar', 37]
print(lista_fam.index('henry'))

4

In [62]:
lista_fam = ['heydy', 22, 'ines', 54, 'henry', 33, 'oscar', 37]
print(f'indice :{lista_fam.index('henry')}')#obtener rl indice de la list 
print(f'Contar :{lista_fam.index(54)}')#contar cuantas veces aparece algo

indice :4
Contar :3

In [64]:
del(lis_fam[lista_fam.index('henry')])
print(lista_fam)

NameError: name 'lis_fam' is not defined

In [65]:
name = "mayumi"

print(name.capitalize())

Mayumi

In [66]:
lista_entornos =['susel','brandon','alegandro','gabriel']
plista_entornos = lista_entornos[0].capitalize()
print(lista_entornos)

['susel', 'brandon', 'alegandro', 'gabriel']

In [67]:
print(name.replace("y",'*'))

ma*umi

In [68]:
name.upper()

'MAYUMI'

In [69]:
print(lista_fam)

['heydy', 22, 'ines', 54, 'henry', 33, 'oscar', 37]

In [70]:
print(lista_fam)
lista_fam.reverse

['heydy', 22, 'ines', 54, 'henry', 33, 'oscar', 37]